@import "variables";

.about-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: $minPageContainerHeight;
  font-family: Candara;
  background-color: #d2c4c4;
}

.title {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.version, .developer {
  font-size: 1.1rem;
}

.version {
  margin: 30px auto 20px auto;
}

.functionality-title {
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.4rem;
  font-style: oblique;
}

.functionality-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.functionality-item {
  margin-top: 10px;
  font-size: 1.1rem;
}

.edit-data-title {
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-page-contacts-block {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px 0 100px;
  font-size: 1.4rem;
}

.about-page-contacts-label {
  margin-bottom: 20px;
}

.about-contact-item {
  margin: 10px;
}

ul li::before {
  content: "•";
  margin-right: 5px;
}

