@import "variables";

.about-page {
  display: flex;
  justify-content: center;
  min-height: $minPageContainerHeight;
  font-family: Candara;
  background-color: #d2c4c4;

}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.version, .developer {
  font-size: 1.1rem;
}

.version {
  margin: 30px auto 20px auto;
}

.functionality-title {
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.4rem;
  font-style: oblique;
}

.content {
  position: relative;
  top: 50px;
  text-align: center;
}

.functionality-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.functionality-item {
  margin-top: 10px;
  font-size: 1.1rem;
}

.edit-data-title {
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

ul li::before {
  content: "•";
  margin-right: 5px;
}

