@import "mixins";
@import "templates";

.header-container {
  position: relative;
  background-image: url("../components/Header/BG.jpg");
  background-size: 1100px 300px;
  background-position: center -30px;
  height: 200px;
  @extend %centeredRowFlexDisplay;
  font-size: 0.938rem;
  background-repeat: no-repeat;
  color: white;
}

.header-top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5%;
}

.header-current-user-block {
  @include flexDisplayMx($align: center);
}


.logOut-btn {
  @extend %centeredRowFlexDisplay;
  @include sizeMx(100px, 40px);
  @include borderMx($style: none, $radius: 5px);
  letter-spacing: 2px;
  background-color: #5EE7C1FF;
  font-size: 1rem;
}

.header-avatar-item {
  width: 100px;
}

.header-avatar {
  border-radius: 50px;
}

.header-user-name {
  margin-left: 30px;
  letter-spacing: 3px;
  text-decoration: none;
}

.header-user-name:hover {
  transition: 1s;
  text-decoration: underline;
}

.logOut-btn:hover {
  transition: 0.5s;
  text-decoration: underline;
  cursor: pointer;
}

.burger-navbar {
  display: none;
}

.navbar {
  @extend %centeredRowFlexDisplay;
  margin-top: auto;
  @include positionMx(absolute, $bottom: 10px);
  width: 100%;
  letter-spacing: 7px;
}


.navbar-item, .navbar-item-active {
  display: flex;
  align-items: center;
  border-right: #ffffff solid 3px;
  padding-left: 5px;
  text-decoration: none;
  color: white;
}

.navbar-item-active {
  text-decoration: underline;
}

.navbar-item:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.5s;
}

