@import "mixins";
@import "templates";

.paginator-block {
  margin: 50px auto auto auto;
  text-align: center;
  max-width: 600px;
  @include borderMx($border: $grayThinSolidBorder, $radius: 5px);
}

.paginator-page-number {
  padding: 5px;
}

.paginator-page-number:hover, .paginator-selected-page:hover {
  cursor: pointer;
  text-decoration: underline;
}

.paginator-selected-page {
  font-size: 1.1rem;
  text-decoration: underline;
}

.paginator-left-button, .paginator-right-button {
  font-size: 1rem;
  @include colorsMx(#e7e0e0, #3f3c3c);
  border-radius: 5px
}

.paginator-left-button:active, .paginator-right-button:active {
  color: white;
}

.paginator-left-button:hover, .paginator-right-button:hover {
  cursor: pointer;
}