@import "mixins";
@import "templates";

/*SETTINGS*/
.settings-page-container {
  @include sizeMx(90%, $minHeight: 715px);
  @include backgroundMx(url("https://www.freeiconspng.com/uploads/white-gear-png-gear-icon-png-white-gear-icon-30.png")
  rgba(255, 255, 255, 0.8), $repeat: no-repeat, $position: 350px 90px);
  margin: 15px auto;
  font-size: 1.1rem;
  padding: 15px;
  font-family: SansSerif;
  display: flex;
}

.settings-left-part {
  padding: 2px;
  border-right: gray solid thin;
}

.settings-class {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 15px;
}

.settings-left-part-block, .settings-right-part-block {
  margin: 80px auto;
}

.settings-right-part {
  width: 90%;
}

.settings-right-part-title {
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 50;
}

.settings-block {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

.settings-block-label {
  @extend %centeredRowFlexDisplay;
}

.settings-block-info {
  position: relative;
  right: 10px;
}

.settings-block-switch {
  cursor: pointer;
}

.sbl {
  text-align: center;
}

/*SETTINGS SWITCH*/
:root {
  --duration: 0.4s;
}

.checker {
  display: block;
  font-size: 1.2rem;
  height: 1em;
  width: 2.5em;
  box-sizing: content-box;
  padding: 0.15em;
  border-radius: 0.25em;
  transition: transform var(--duration) ease;
  cursor: pointer;
}

.checkmark {
  width: 1em;
  height: 1em;
  transition: transform var(--duration) ease;
  transform: translateX(-0.4em);
  z-index: 5;
}

.checkmark svg {
  display: block;
  background: #e5e5e5;
  transform: translateX(0.4em);
  border-radius: 0.15em;
  transition: background-color var(--duration) ease, transform calc(var(--duration) * 1.5) ease;
}

.checkmark svg path {
  stroke-dasharray: 90 90;
  stroke-dashoffset: 90;
  transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  visibility: hidden;
}

.checkbox:checked ~ .checkmark {
  transform: translate(1.9em);
}

.checkbox:checked ~ .checkmark svg {
  background: #77c44c;
  transform: translate(-0.4em);
}

.checkbox:checked ~ .checkmark svg path {
  stroke-dashoffset: 0;
}

.check-bg {
  position: absolute;
  top: 0;
  left: 0;
  @include sizeMx(100%, 100%);
  border-radius: inherit;
  background: white;
  z-index: 2;
}

.check-bg:before, .check-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  @include sizeMx(100%, 100%);
  border-radius: inherit;
}

.check-bg:after {
  background: white;
}

.check-bg:before {
  transition: transform var(--duration) ease;
  transform: translateY(30%);
  transform-origin: bottom center;
  background: black;
  filter: blur(0.25em);
  opacity: 0.2;
  z-index: -1;
}

.checker.checker:active {
  transform: scale(0.85);
  transition-duration: calc(var(--duration) / 2);
}

.checker.checker:active .check-bg::before {
  transform: translateY(0) scale(0.8);
  opacity: 0.2;
}

*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
}