%centeredRowFlexDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

%centeredColumnFlexDisplay {
  @extend %centeredRowFlexDisplay;
  flex-direction: column;
}

%profileEditBtn {
  background-color: #5EE7C1FF;
  color: white;
  height: 40px;
  width: 120px;
  padding-top: 8px;
  letter-spacing: 1px;
  font-size: 1.1rem;
  border-radius: 8px;
}

