@import "./styles/nullStyles";
@import "./styles/templates";
@import "./styles/mixins";
@import "styles/Settings";
@import "styles/Header";
@import "./styles/Auth";
@import "./styles/NotFound";
@import "./styles/Users";
@import "./styles/Paginator";
@import "./styles/About";

/*MAIN CONTAINERS*/
.wrapper {
  width: 1100px;
  margin: 0 auto;
}

.section-content {
  width: 100%;
  transition: 0.5s;
  text-align: center;
  background: linear-gradient(360deg, #6868ff, #3c91ff, #37a6c7, #70d3ef);
}

.container {
  transition: 0.5s;
  max-height: fit-content;
  @include sizeMx(100vw, 100vh);
  @extend %centeredColumnFlexDisplay;
}



